<div class="mat-elevation-z4 margim-top">
    <mat-card>
        <mat-card-header>
            <mat-card-title >
                Lista de produtos
            </mat-card-title>
        </mat-card-header>
        <img  class="img-fluid" src="assets/image/imagem-exemplo-table.png" alt="imagem-exemplo">
        <mat-card-content class="container">
            <app-product-read></app-product-read>
        </mat-card-content>
        <mat-card-footer class="footer">
            <button mat-raised-button (click)="navegateToProductCreat()"
            class="btn btn-primary"
            >Adicionar Novo Produto</button>
        </mat-card-footer>
    </mat-card>
</div>




